beautifulsoup4
folium
geopandas
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
plotly
rasterio
Requests
scikit_learn
scipy
seaborn
Shapely
skimage
streamlit
streamlit_folium
tifffile
